.app_wriper {
  margin: 0 auto;
  width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr 68px;
  grid-template-columns: 2fr  10fr;
  grid-template-areas: "h h" "n c""f f";

  /* grid-gap: 10px;*/
}


.app_wriper_content {
  grid-area: c;
  background-color: yellow;
  text-indent: 13px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
