
.nav {
    width: auto;
    grid-area: n;
    background-color: greenyellow;
    padding: 20px;
    text-align: center;
}
.item a
{
    color: darkblue;
    text-decoration: none;
}
.item a.active
{
    color: blueviolet;
}